* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #555;
  background-color: #000;
  height: 100%;
  width: 100%;
}

[class*="span"] {
  margin-left: 0;
  float: left;
  min-height: 1px;
  min-width: 1px;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}

.container-fluid-wall:before, .container-fluid:after {
  content: "";
  display: table;
}
.container-fluid-wall:after {
  clear: both;
}

.row-fluid-wall:before, .row-fluid:after {
  content: "";
  display: table;
}
.row-fluid-wall:after {
  clear: both;
}

/* WALL */
.wall-wrapper {
}
.wall-container {
  top: 1px;
  bottom: 1px;
  left: 0px;
  position: fixed;
  width: 100%;
  padding: 1% 1% 1% 1%;
  background-image: url('../img/wall/wall-001.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -moz-box-sizing: border-box;
}

.wall-block {
  height: 100%;
  position: relative;
  display: block;
  z-index: 2;
  background: transparent;
}
.wish-cell {
  height: 32px;
  width: 32px;
  position: absolute;
  background-repeat: no-repeat;
  border-radius: 32px 32px 32px 32px;
}
.wish-noty {
  height: 100px;
  width: 250px;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
}
.wish-text {
  width: 98%;
  min-height: 100px;
}

.btn-wall-info {
  clear: both;
  height: 317px;
  width: 244px;
  display: inline-table;
  position: absolute;

  background-image: url('../img/wall/uni.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  border-radius: 500px 500px 500px 500px;
}

.btn-wall-burn {
  clear: both;
  height: 32px;
  width: 32px;
  top: 10px;
  right: 10px;
  display: inline-table;
  position: absolute;
  cursor: pointer;

  border-radius: 200px 200px 200px 200px;
  background-image: url('../img/wall/fire-32.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.btn-wall-refresh {
  clear: both;
  height: 32px;
  width: 32px;
  top: 10px;
  left: 10px;
  display: inline-table;
  position: absolute;
  cursor: pointer;

  border-radius: 200px 200px 200px 200px;
  background-image: url('../img/wall/in-yan-x294.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
}
/* WALL style END */

/*
  bottom: 50%;
  left: 50%;
  top: 50%;
  overflow-x: visible;
  overflow: visible;
  background-color: #0000FF;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: auto|length|cover|contain|intial|inherit;
  background-attachment: fixed;
*/
